    <!-- ======================== Start Nav Bar =========================== -->
   <%- include('../partials/navbar.ejs'); %>
    <!-- ======================== Exit Start Nav Bar =========================== -->

    <div class="container">
      <!-- ========================== start setting list =========================== -->

      <div class="row">
        <!-- =================== start setting menu list ================== -->
        <%- include('../partials/setting-left-menu.ejs'); %>
        <!-- =================== end setting menu list ================== -->

        <!-- ======================= start view setting form ========================= -->

        <div id="setting-view-form" class="col mt-5">
          <div class="card text-center">
            <div class="card-header">Change Password</div>
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">
                <input
                  type="text"
                  name=""
                  placeholder="Name and Username"
                  id=""
                />
              </p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
            <div class="card-footer text-muted">2 days ago</div>
          </div>
        </div>

        <!-- ======================= end view setting form ========================= -->
      </div>

      <!-- ========================== end setting list =========================== -->
    </div>
  </body>
</html>
