    <!-- ======================== Start Nav Bar =========================== -->
   <%- include('partials/navbar.ejs'); %>
    <!-- ======================== Exit Start Nav Bar =========================== -->

    <!-- ====================Start Add product Modal Dialuge ===================================== -->
    <div
      class="modal fade"
      id="edit-product"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <form>
              <!-- ==================== Product Name ======================= -->
              <div class="mb-3">
                <label class="form-label">Product Name</label>
                <input
                  type="text"
                  name="productName"
                  class="form-control"
                  id="productName"
                />
                <div class="error productName-error" class="form-text">
                  Product Name is Required
                </div>
              </div>
              <!-- ============================ Brand Name =================== -->
              <div class="mb-3">
                <label class="form-label">Brand Name</label>
                <input
                  type="text"
                  name="brandName"
                  class="form-control"
                  id="brandName"
                />
                <div class="error brandName-error" class="form-text"></div>
              </div>
              <!-- ============================ Description =================== -->

              <div class="mb-3">
                <label class="form-label">Description</label>
                <textarea
                  name="description"
                  class="form-control"
                  id="description"
                  placeholder="No description"
                ></textarea>
                <div class="error description-error" class="form-text"></div>
              </div>
              <!-- ============================ Price =================== -->
              <div class="mb-3">
                <label class="form-label">Price</label>
                <input
                  type="number"
                  name="price"
                  class="form-control"
                  id="price"
                />
                <div class="error price-error" class="form-text"></div>
              </div>
              <!-- ============================== Upload Product Picture ============================ -->
              <div class="mb-3">
                <label for="formFile" class="form-label">Product Picture</label>
                <input
                  class="form-control"
                  name="productImg"
                  type="file"
                  id="formFile"
                />
              </div>
              <!-- =============================== end  form ==================== -->
            </form>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
            <button type="button" class="btn btn-primary">Save</button>
          </div>
        </div>
      </div>
    </div>

    <!-- ==============Exit Add product Modal Dialuge =============================== -->

    <!-- ================================= Start Product Image Viwer Modal ================================= -->

    <div
      class="modal fade"
      id="product-img-viewer-modal"
      tabindex="-1"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Product Image</h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <img
              src="./Img/Picture.jpeg"
              class="img-fluid rounded-top product-img-size-view"
              alt=""
            />
          </div>
        </div>
      </div>
    </div>

    <!-- ================================= Exit Product Image Viwer Modal ================================= -->

    <!-- ========================= start add button ====================== -->
    <div
      class="container d-flex justify-content-center flex-column align-items-center"
    >
      <button type="button" class="btn addItem-btn my-4">
        <i
          class="fa-solid fa-circle-plus fa-2xl"
          data-bs-toggle="modal"
          data-bs-target="#edit-product"
        ></i>
      </button>
      <div class="showItemContainer">
        <!-- ========================= End add button ====================== -->

        <!-- ================================= start search bar ============================= -->
        <nav class="navbar navbar-light bg-light my-4">
          <div class="container-fluid justify-content-between">
            <h1 class="text-capitalize">Add Item</h1>
            <form class="d-flex">
              <input
                id="searchProductName"
                class="form-control me-2"
                type="search"
                placeholder="Product Name"
                aria-label="Search"
                name="searchProductName"
                onkeyup="searchActionBar()"
              />
              <button
                id="search-btn"
                class="btn btn-outline-primary"
                type="submit"
              >
                Search
              </button>
            </form>
          </div>
        </nav>

        <!-- ================================= Exit search bar ============================= -->

        <!-- ============================== Start Product table ================================== -->

        <div class="table-container">
          <table id="all-products-table" class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Picture</th>
                <th scope="col">Product Name</th>
                <th scope="col">Brand</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
                <th scope="col"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="td-img">
                  <img
                    data-bs-toggle="modal"
                    data-bs-target="#product-img-viewer-modal"
                    src="./Img/Picture.jpeg"
                    class="img-thumbnail img-fluid product-img"
                    alt="..."
                  />
                </td>
                <td>Chair</td>
                <td>ARFL</td>
                <td class="td-descrip">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa
                  maxime sed deleniti, saepe repudiandae odit voluptas sunt quos
                  cupiditate nostrum
                </td>
                <td>99Tk</td>
                <td class="text-center edit-item">
                  <i
                    class="fa-solid fa-pen-to-square fa-2xl btn-update"
                    data-bs-toggle="modal"
                    data-bs-target="#edit-product"
                  ></i>
                  <i class="fa-solid fa-trash fa-2xl btn-delete"></i>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <!-- ============================== End Product table ================================== -->
      </div>
    </div>
  </body>
</html>
