    <!-- ======================== Start Nav Bar =========================== -->
   <%- include('partials/navbar.ejs'); %>
    <!-- ======================== Exit Start Nav Bar =========================== -->

    <div class="container-fluid d-flex justify-content-center align-items-center text-center">
        <div class="button-section">
            <a href="all-product" type="button" class="btn btn-success home-btn">
                <i class="fa fa-plus-circle fa-2xl py-5" aria-hidden="true"></i>
                <p>All Product</p>
            </a>
            <a href="saleItem" type="button" class="btn btn-success home-btn">
                <i class="fa fa fa-shopping-bag fa-2xl py-5" aria-hidden="true"></i>
                <p>Sale Item</p>
            </a>
            <a href="invoice" type="button" class="btn btn-success home-btn">
                <i class="fa-solid fa-file fa-2xl py-5" aria-hidden="true"></i>
                <p>All Invoices</p>
            </a>
            <a href="setting" type="button" class="btn btn-success home-btn">
                <i class="fa fa-cog fa-2xl py-5" aria-hidden="true"></i>
                <p>Setting</p>
            </a>
        </div>
    </div>
</body>
</html>