<!-- ======================== Start Nav Bar =========================== -->
<%- include('partials/navbar.ejs'); %>
<!-- ======================== Exit Start Nav Bar =========================== -->

</body>
</html>