<!-- ====================Start Add product Modal Dialuge ===================================== -->
<div
  class="modal fade"
  id="add-product"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Product</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form id="add-product-form" enctype="multipart/form-data">
          <!-- ==================== Product Name ======================= -->
          <div class="mb-3">
            <label class="form-label">Product Name</label>
            <input
              type="text"
              name="productName"
              class="form-control"
              id="productName"
            />
            <p class="error productName-error form-text"></p>
          </div>
          <!-- ============================ Brand Name =================== -->
          <div class="mb-3">
            <label class="form-label">Brand Name</label>
            <input
              type="text"
              name="brandName"
              class="form-control"
              id="brandName"
            />
            <p class="error brandName-error form-text"></p>
          </div>
          <!-- ============================ Description =================== -->

          <div class="mb-3">
            <label class="form-label">Description</label>
            <textarea
              name="description"
              class="form-control"
              id="description"
              placeholder="No description"
            ></textarea>
            <p class="error description-error form-text"></p>
          </div>
          <!-- ============================ Price =================== -->
          <div class="mb-3">
            <label class="form-label">Price</label>
            <input
              type="number"
              min="0"
              name="price"
              class="form-control"
              id="price"
            />
            <p class="error price-error form-text"></p>
          </div>
          <!-- ============================== Upload Product Picture ============================ -->
          <div class="mb-3">
            <label for="formFile" class="form-label">Product Picture</label>
            <input
              class="form-control"
              name="productImg"
              type="file"
              id="formFile"
            />
          </div>
          <p class="error productImg-error form-text"></p>
          <!-- =============================== end  form ==================== -->
          <p class="error common-error form-text"></p>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button
          type="button"
          class="btn btn-primary"
          onclick="addProductSubmitBtn()"
        >
          Save
        </button>
      </div>
    </div>
  </div>
</div>

<!-- ==============Exit Add product Modal Dialuge =============================== -->
