*{
    padding: 0;
    margin:0;
}

a{
    text-decoration: none;
}

thead{
    background-color: rgb(0, 140, 255);
    color:white;
}

thead>tr>th{
    text-align: center;
}

.td-descrip{
    min-width: 250px;
}

.product-img{
    width: 100px;
    height: 120px;
    border-radius: 8px;
}

.edit-item>i{
    cursor: pointer;
    padding: 20px 1rem;
}

.btn-delete{
    color:rgb(194, 0, 0)
}

.btn-delete:hover{
    color: red;
}

.btn-update{
    color: green;
}

.btn-update:hover{
    color: rgb(0, 172, 0);
}

.error{
    color: red;
}

/* ========================== Home Css ======================== */

.container-fluid{
    width: 100vw;
    height: 100vh;
}

.home-btn{
    width: 200px;
    height: 200px;
    font-size: 2rem;
    margin: 32px 64px 32px 64px;
    background-color: #008cff;
    border-radius: 30px;
    box-shadow: 0px 4px rgb(123, 124, 136);
}

.home-btn:hover{
    background-color: #037ee2;
    box-shadow: 0 0 transparent;
    color: black;
}

/* ====================== Add Item Css =================== */
.main-container{
    overflow: hidden;
    overflow-x: scroll;
    /* background-color: #55c2da; */
}

.addItem-btn{
    font-size: 2rem;
    border-radius: 8px;
    color: rgb(0, 140, 255);
}

.addItem-btn:hover{
    color:rgb(2, 95, 172)
}

.showItemContainer{
    width: 100%;
    min-height: 570px;
}

/* ===================== Media Query =================== */